name: Go Test Results

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # IMPORTANT: must pull full history for git-crypt

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y git-crypt gnupg

      - name: Import GPG key
        shell: bash
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.gnupg
          chmod 700 ~/.gnupg
          echo "use-agent" >> ~/.gnupg/gpg.conf
          echo "pinentry-mode loopback" >> ~/.gnupg/gpg.conf
          echo "trust-model always" >> ~/.gnupg/gpg.conf
          gpgconf --kill gpg-agent || true
          echo "$GPG_PRIVATE_KEY" | base64 --decode | gpg --batch --import

      - name: Unlock git-crypt
        run: git-crypt unlock

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.3

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: go test ./...
